PORT=3000

MONGODB_URI=mongodb://127.0.0.1:27017/ai-sales-crm-n8n-db

N8N_URL=http://127.0.0.1:5678

OLLAMA_URL=http://127.0.0.1:11434
OLLAMA_MODEL=qwen3:8b

MAILPIT_URL=http://127.0.0.1:8025
MAILPIT_SMTP_HOST=127.0.0.1
MAILPIT_SMTP_PORT=1025
